/*reset*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
ul,li{
    list-style: none;
}
a{
    color:inherit;
    text-decoration: none;
}

/*variables*/
$main-dark-color:#000;
$main-light-color:#fff;
$main-active-color:#353b48;
$main-button-color:#dc143c;
$main-cursor-color:#777;
$main-hashtag-color:#ff0;

/*common*/
html{
    font-size: 14px;
    background:$main-dark-color;
    color:$main-light-color;
}

/*contents*/
.container{
    width: 100%;
    height: 100%;
    
}
/*header*/
header{
    width:100%;
    height:60px;
    display: flex;
    justify-content: center;/*수평정렬*/
    background: $main-dark-color;
    // border: 1px solid $main-button-color;
    nav{
        width:900px;
        // border: 1px solid $main-button-color;
        height:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        z-index: 3;/*다른 영역보다 보이게 할려고 함*/
        .logo{
            img{
                width:auto;
                height:30px;
            }
        }
        .search-box{
            i{
                font-size: 1.6rem; /*14px의 160%를 준다*/
            }
        }

    }

}
/*gnb*/
.gnb{
    width:100%;
    height:40px;
    background: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0.4));
    display: flex;
    justify-content: center;
    position: sticky;
    top:0; /*스티커가 될 위치*/
    z-index: 1;
    border: 1px solid $main-button-color;
    &> ul{
        width:900px;
        height:100%;
        display: flex;
        justify-content: space-evenly; /*요소들을 각각여백을 주고 만든다*/
        & > li > a{
            width:100px;
            position: relative;
            text-align: center;
            display: inline-block;
            font-weight: bold;
            // border: 1px solid $main-button-color;
            transition: all 0.3s;
            &::after{
                //전후문자선택자
                content: "";
                position: absolute;
                bottom:0;
                left:0;
                width:0;
                height:2px;
                background:$main-button-color; /*면인데 height 2px 줘서 선처럼 보인다*/
                transform-origin:center ;
                transform: translateX(-50%);
                margin-left: 50%;
                transition: width 0.3s;
            }
            &:hover{
                color:$main-button-color;
                &::after{
                    width:100%;
                }
            }
        }
    }
}
/*main slider*/
.mainSlider{
    width:100%;
    height: 600px;
    border:1px solid $main-button-color;
}
/*movie*/
.movie{
    width:100%;
    height:600px;
    border: 1px solid $main-button-color;
}
/*fAQ*/
.faq{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    .faq-inner{
        width: 700px;
        h1{
            text-align: center;
            font-size: 3rem;
        }
        .accordion{
            font-size: 1.2rem;
            margin: 10px 0;
            .title{
                width:100%;
                font-weight: bold;
                margin-bottom: 8px;
                padding: 10px;
                position: relative;
                cursor: pointer;
                transition: all 0.3s;

                &::after{
                    content: "\2b"; /*문자쓰기 위해서*/
                    font-family: "fontawesome";
                    position: absolute;
                    right: 10px;
                    top:50%;
                    transform: translateY(-50%);
                    transition: all 0.3s;
                }
                &.active{
                    background: $main-active-color;
                    &::after{
                        content: "\2b"; /*문자쓰기 위해서*/
                        font-family: "fontawesome";
                        transform: translateY(-50%) rotate(45deg);
                    }
                }
            }
            .content{
                font-size: 1rem;
                margin-bottom: 16px;
                padding: 10px;
                display: none;
            }
        }
        .newsletter{
            width:100%;
            text-align: center;
            p{
                font-size: 1.3rem;
                font-weight: bold;
                color: $main-button-color;
                padding: 10px 5px;
                margin-bottom: 10px;
            }
            form{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width:100%;
                height:60px;

                input[type="text"] {
                    height:100%;
                    border: none;
                    font-size: 1.4rem;
                    flex:3;
                    padding-left: 10px;
                    &:focus{
                        outline: none;
                    }
                }
                input[type="submit"]{
                    height:100%;
                    border: none;
                    font-size: 1.4rem;
                    flex:1;
                    background: $main-button-color;
                    color:$main-light-color;
                    cursor: pointer;
                }
            }

        }
    }
}